@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif; }

header {
  position: absolute;
  z-index: 1; }

/* INICIO HEADER */
.containerHeader {
  display: flex;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #0B0E32;
  align-items: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.511); }
  .containerHeader .logo {
    flex-basis: 20%;
    margin-left: 45px;
    margin-right: 10px;
    z-index: 0; }
  .containerHeader .buscador {
    display: flex;
    flex-basis: 100%;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    text-align: end;
    margin-right: 10px; }
    @media (min-width: 768px) {
      .containerHeader .buscador {
        flex-basis: 60%; } }
    .containerHeader .buscador .contenedor-search {
      display: none;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      height: 30px;
      border-radius: 5px;
      color: #0B0E32;
      background-color: #EFF0FB; }
      .containerHeader .buscador .contenedor-search #search {
        width: 90%;
        height: 25px;
        margin-left: 5px;
        border: none;
        outline: none;
        background-color: transparent; }
    .containerHeader .buscador svg {
      display: block;
      color: #EFF0FB;
      margin-left: 90%; }
  .containerHeader .ingreso {
    flex-basis: 20%;
    text-align: center; }
    .containerHeader .ingreso a {
      border: 1px solid black;
      padding: 10px;
      margin-right: 5px; }

/* INICIO NAV desplegable */
/* INICIO FUNCION desplegable */
nav #navMenu {
  margin: 10px;
  position: fixed;
  z-index: 10;
  top: 5px; }

nav #navMenu > span {
  display: block;
  width: 28px;
  height: 2px;
  border-radius: 9999px;
  background-color: #EFF0FB; }

nav #navMenu > span:not(:last-child) {
  margin-bottom: 7px; }

#nav, #nav > span {
  transition: all .4s ease-in-out; }

#navMenu.active {
  transition: .2s;
  transition-delay: 0.1s;
  transform: translateX(240px) rotate(45deg); }

#navMenu.active > span:nth-child(2) {
  /* primero hace este */
  transition: .2s;
  transition-delay: 0.2s;
  width: 0; }

#navMenu.active > span:nth-child(1) {
  transition: .2s;
  transition-delay: 0.4s;
  transform: translateY(9px); }

#navMenu.active > span:nth-child(3) {
  transition: .2s;
  transition-delay: 0.4s;
  transform: translateY(-9px) rotate(90deg); }

/* FIN FUNCION desplegable */
nav .menuLista {
  position: fixed;
  height: 100%;
  width: 300px;
  top: -1px;
  transform: translateX(-100%);
  border: 1px solid #EFF0FB; }

nav .menuLista.active {
  transition: .2s;
  transform: translateX(0);
  background-color: #0B0E32; }

nav .menuLista ul {
  margin-top: 55px; }

nav .menuLista ul li {
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 20px;
  list-style: none; }

nav .menuLista ul li:not(:last-child) {
  border-bottom: 1px solid #EFF0FB; }

nav .menuLista ul li a {
  font-size: 20px; }

nav .menuLista ul li a div {
  margin-bottom: 5px; }

nav .menuLista ul li a div > i {
  padding-right: 10px; }

/* FIN NAV desplegable */
@media (min-width: 1024px) {
  .containerHeader nav {
    order: 2;
    flex-basis: 75%;
    display: flex;
    justify-content: center; }
    .containerHeader nav .menuLista {
      position: relative;
      transform: translateX(0%);
      overflow: auto;
      width: 100%;
      border: none; }
      .containerHeader nav .menuLista .cerrar-sesion {
        display: none; }
      .containerHeader nav .menuLista ul {
        margin-top: 10px;
        text-align: center; }
        .containerHeader nav .menuLista ul li {
          display: inline-block;
          margin: 10px; }
          .containerHeader nav .menuLista ul li li:not(:last-child) {
            border-bottom: none; }
          .containerHeader nav .menuLista ul li li:last-child {
            display: none; }
          .containerHeader nav .menuLista ul li a {
            font-size: 17px; }
            .containerHeader nav .menuLista ul li a i {
              display: none; }
  .containerHeader #navMenu {
    display: none; }
  .containerHeader .logo {
    order: 1;
    margin-left: 10px;
    flex-basis: 10%; }
  .containerHeader .buscador {
    order: 3; }
  .containerHeader .ingreso {
    order: 4; } }

a {
  color: #EFF0FB;
  text-decoration: none; }
  a:hover {
    color: #E07BCD; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif; }

footer {
  background-color: #0B0E32;
  color: #EFF0FB; }
  @media (min-width: 1024px) {
    footer .elFooter {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  footer .elFooter .footerContenidoUno {
    display: flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      footer .elFooter .footerContenidoUno {
        align-items: center; } }
    @media (min-width: 1024px) {
      footer .elFooter .footerContenidoUno {
        flex-direction: row; } }
    footer .elFooter .footerContenidoUno .frase {
      width: 90%;
      margin: 0 auto;
      text-align: center;
      margin-top: 18px; }
      @media (min-width: 768px) {
        footer .elFooter .footerContenidoUno .frase {
          width: 50%; } }
      @media (min-width: 1024px) {
        footer .elFooter .footerContenidoUno .frase {
          order: 2; } }
      footer .elFooter .footerContenidoUno .frase h3 {
        color: #EFF0FB; }
    @media (min-width: 768px) {
      footer .elFooter .footerContenidoUno .listaNosotros {
        width: 85%; } }
    @media (min-width: 1024px) {
      footer .elFooter .footerContenidoUno .listaNosotros {
        flex-basis: 50%;
        display: flex;
        justify-content: center; } }
    footer .elFooter .footerContenidoUno .listaNosotros div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 10px 5px 10px 5px; }
      @media (min-width: 1024px) {
        footer .elFooter .footerContenidoUno .listaNosotros div {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: flex-start; } }
    footer .elFooter .footerContenidoUno .listaNosotros a {
      margin: 7px 15px 7px 15px; }
      @media (min-width: 768px) {
        footer .elFooter .footerContenidoUno .listaNosotros a {
          margin: 15px 30px 15px 15px; } }

.footerContenidoDos {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .footerContenidoDos {
      align-items: center; } }
  @media (min-width: 1024px) {
    .footerContenidoDos {
      flex-direction: row;
      justify-content: space-between;
      border-top: 1px solid #EFF0FB;
      width: 80%; } }
  .footerContenidoDos .copyright {
    order: 2; }
    @media (min-width: 1024px) {
      .footerContenidoDos .copyright {
        order: 1;
        margin-left: 20px; } }
    .footerContenidoDos .copyright p {
      text-align: center;
      margin: 10px 10px 30px 10px;
      font-size: 12px; }
  .footerContenidoDos .redes {
    order: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around; }
    @media (min-width: 768px) {
      .footerContenidoDos .redes {
        width: 85%; } }
    @media (min-width: 1024px) {
      .footerContenidoDos .redes {
        flex-basis: 25%;
        margin-right: 20px; } }
    .footerContenidoDos .redes a {
      margin: 5px;
      font-size: 25px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif; }

.cursos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  .cursos .box {
    background-color: #0b0e32df;
    color: #EFF0FB;
    width: 500px;
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 50px;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 3px 8px 3px #b5b3b5;
    border-radius: 5px; }
  .cursos .myButton {
    box-shadow: inset 0px 1px 3px 0px #E07BCD;
    background: linear-gradient(to bottom, #E07BCD 5%, #E07BCD 100%);
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 23px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #030027;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px; }
    .cursos .myButton:hover {
      background: linear-gradient(to bottom, #C38DBD 5%, #E07BCD 100%); }
    .cursos .myButton:active {
      position: relative;
      top: 1px; }
  .cursos h2 {
    font-weight: bold; }
  .cursos p {
    font-size: 25px; }
  .cursos .h1box {
    padding: 50px;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 50px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif; }

* {
  margin: 0%; }

header {
  position: relative;
  z-index: 2; }

.conteinerHTML {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap; }
  .conteinerHTML .titulo {
    margin-top: 80px;
    text-align: center;
    font-size: 1.5em; }
  .conteinerHTML .clase {
    width: 70%;
    height: auto;
    margin: 50px 0px;
    text-align: center; }
    .conteinerHTML .clase h3 {
      font-size: 2em; }
    .conteinerHTML .clase p {
      margin-bottom: 20px;
      font-size: 1.5em; }
    .conteinerHTML .clase .video {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden; }
      .conteinerHTML .clase .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: none; }
  .conteinerHTML .teorico {
    padding: 10px 20%;
    background-color: #E07BCD;
    font-size: 1.3em;
    border-radius: 5px;
    margin: 20px; }
  .conteinerHTML .formulario {
    display: flex;
    margin-top: 20px;
    text-align: center;
    font-size: 2em; }
    .conteinerHTML .formulario .check {
      z-index: 1;
      margin: 30px 15px;
      transform: scale(2); }
    .conteinerHTML .formulario .lecciones {
      font-weight: bold; }
  .conteinerHTML .barradeprogreso {
    width: 70%;
    margin: 30px 0 20px; }
    .conteinerHTML .barradeprogreso h3 {
      font-size: 2em;
      text-align: center; }
    .conteinerHTML .barradeprogreso .barra {
      display: flex;
      width: 100%;
      height: 30px;
      background-color: #c7c7c7;
      padding: 20px 5px;
      border-radius: 100px;
      margin: 20px;
      align-items: center; }
    .conteinerHTML .barradeprogreso .progreso {
      height: 30px;
      border-radius: 100px;
      width: 33.33%;
      background-color: #0B0E32; }
  .conteinerHTML .autoevaluacion {
    font-size: 1.5em;
    text-align: center;
    margin: 50px; }
    .conteinerHTML .autoevaluacion a {
      margin: 10px;
      color: #030027;
      font-weight: bold;
      text-decoration: underline; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif; }

.main-login {
  display: flex;
  flex-direction: column; }
  .main-login h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; }
  .main-login .formulario-login {
    margin: 100px 0px 60px 0px; }
    @media (min-width: 1024px) {
      .main-login .formulario-login {
        width: 70%; } }
    .main-login .formulario-login .formulario {
      display: flex;
      flex-direction: column;
      padding: 3%;
      background-color: #C38DBD;
      box-shadow: 0px 3px 8px 3px #b5b3b5;
      /* caja del formulario */ }
      @media (min-width: 768px) {
        .main-login .formulario-login .formulario {
          align-items: center; } }
      @media (min-width: 1024px) {
        .main-login .formulario-login .formulario {
          border-radius: 5px;
          margin-right: 0; } }
      .main-login .formulario-login .formulario input {
        height: 30px;
        margin: 2%;
        text-align: center;
        border-radius: 10px;
        border: none;
        outline-color: #C38DBD;
        caret-color: #C38DBD; }
        @media (min-width: 768px) {
          .main-login .formulario-login .formulario input {
            width: 80%;
            height: 50px; } }
      .main-login .formulario-login .formulario .links {
        width: auto;
        padding: 2%;
        display: flex;
        justify-content: space-between; }
        @media (min-width: 768px) {
          .main-login .formulario-login .formulario .links {
            width: 80%;
            padding: 0; } }
        .main-login .formulario-login .formulario .links a {
          text-decoration: none;
          color: #0B0E32; }
          .main-login .formulario-login .formulario .links a:hover {
            text-decoration: underline; }

@media (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .boton:hover {
    background-color: #E07BCD;
    transition: .4s;
    cursor: pointer; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif; }

/* contiene todo mi main */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F2F2F2;
  /* contienedor main */ }
  .container .containerMain {
    display: flex;
    /*   flex-wrap: nowrap; */
    justify-content: center;
    width: 90%;
    height: 830px;
    margin: 80px 0px 30px 0px;
    /*etiqueta section que contine el form  */ }
    .container .containerMain .form {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 500px;
      height: 750px;
      padding: 10px;
      border: 1px solid #ecf0f3;
      border-radius: 6px;
      background-color: #FFFFFF;
      box-shadow: 0px 3px 8px 3px #b5b3b5;
      /* titulo de mi form */
      /* clase de los divs que contienen a los inputs */ }
      .container .containerMain .form .title {
        margin: 30px 0px 20px 0px;
        font-weight: bold;
        font-size: 30px; }
      .container .containerMain .form .caja {
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
        /* mis inputs */ }
        .container .containerMain .form .caja .campo {
          width: 230px;
          height: 35px;
          padding: 8px 16px;
          background-color: #f9fafb;
          border: none;
          border-radius: 6px;
          font-size: 15px; }
      .container .containerMain .form .terminos {
        display: flex;
        font-size: 14px;
        justify-content: center; }
        .container .containerMain .form .terminos .textCond {
          margin-left: 8px; }
      .container .containerMain .form .btnRegistro {
        width: 242px;
        height: 40px;
        margin: 15px 0;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        font-size: 15px;
        background-color: #0B0E32;
        color: #EFF0FB; }
      .container .containerMain .form p {
        margin-top: 15px;
        font-size: 14px; }
      .container .containerMain .form .linkLoguin {
        color: #000;
        cursor: pointer; }
      .container .containerMain .form .linkLoguin:hover {
        text-decoration: underline; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-family: "Roboto", sans-serif; }

.main-index {
  display: flex; }
  .main-index .img-fondo-index {
    background-image: url(../imgs/img-index.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 70vh;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (min-width: 1024px) {
      .main-index .img-fondo-index {
        background-position: center center;
        height: 98vh; } }
    .main-index .img-fondo-index::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 205px;
      margin-top: 50px;
      background-color: rgba(0, 0, 0, 0.6); }
      @media (min-width: 1024px) {
        .main-index .img-fondo-index::before {
          margin-bottom: 0; } }
    .main-index .img-fondo-index .contenedor-texto {
      width: 90%;
      margin: 0 auto; }
    .main-index .img-fondo-index h1, .main-index .img-fondo-index h2 {
      position: relative;
      color: #fff;
      text-align: center;
      font-size: 25px;
      text-shadow: 3px -1px 9px #505050; }
    .main-index .img-fondo-index h1 {
      margin-bottom: 20%; }
      @media (min-width: 500px) {
        .main-index .img-fondo-index h1 {
          margin-bottom: 10%; } }
      @media (min-width: 900px) {
        .main-index .img-fondo-index h1 {
          font-size: 40px; } }
    @media (min-width: 900px) {
      .main-index .img-fondo-index h2 {
        font-size: 35px; } }
    .main-index .img-fondo-index h2 span {
      font-weight: bolder;
      text-decoration: underline; }

.seccion-items {
  width: 90%;
  margin: 0 auto;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  @media (min-width: 700px) {
    .seccion-items {
      width: 85%;
      margin: 0 auto;
      margin-top: 15%; } }
  @media (min-width: 900px) {
    .seccion-items {
      width: 90%;
      margin: 0 auto;
      margin-top: 10%;
      justify-content: space-between; } }
  @media (min-width: 900px) {
    .seccion-items .container-primera-linea, .seccion-items .container-segunda-linea {
      display: flex;
      margin: 20px;
      padding: 5px;
      justify-content: space-between; } }
  .seccion-items .container-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15%; }
    @media (min-width: 700px) {
      .seccion-items .container-items {
        flex-direction: row; } }
    @media (min-width: 900px) {
      .seccion-items .container-items {
        margin-bottom: 10%;
        margin-left: 5%; } }
  .seccion-items .circulo {
    display: flex;
    justify-content: center;
    background-color: #0B0E32;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 5%; }
    .seccion-items .circulo img {
      width: 80%;
      fill: #EFF0FB; }
  .seccion-items h3 {
    font-size: 25px;
    text-align: center; }
    @media (min-width: 700px) {
      .seccion-items h3 {
        width: 60%;
        margin: 0 auto; } }
    @media (min-width: 900px) {
      .seccion-items h3 {
        margin-left: 15px;
        width: auto; } }

.cursos-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5%; }
  .cursos-index h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10%;
    text-decoration: underline 3px; }
    @media (min-width: 1024px) {
      .cursos-index h2 {
        margin-bottom: 0; } }
  @media (min-width: 768px) {
    .cursos-index .contenedor-cursos {
      margin-bottom: -10%; } }
  @media (min-width: 1024px) {
    .cursos-index .contenedor-cursos {
      display: flex;
      flex-direction: row;
      margin-top: -10%; } }
  .cursos-index .contenedor-cursos .flip-container {
    display: flex;
    align-items: center;
    align-content: center;
    background-color: transparent;
    width: 150px;
    height: 50px;
    margin-bottom: 40%;
    perspective: 1000px; }
    @media (min-width: 768px) {
      .cursos-index .contenedor-cursos .flip-container {
        width: 500px;
        height: 60px;
        margin-bottom: 30%;
        margin-top: 20%; } }
    @media (min-width: 1024px) {
      .cursos-index .contenedor-cursos .flip-container {
        width: 350px;
        height: 180px;
        flex-direction: column;
        align-content: center;
        margin-left: 50px;
        margin-bottom: 50px;
        margin-right: 50px; } }
  .cursos-index .contenedor-cursos .card {
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E07BCD;
    width: 150px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 20%; }
    @media (min-width: 768px) {
      .cursos-index .contenedor-cursos .card {
        width: 500px;
        height: 160px; } }
    @media (min-width: 1024px) {
      .cursos-index .contenedor-cursos .card {
        width: 350px;
        height: 150px;
        flex-direction: column;
        align-content: center;
        margin-left: 50px;
        margin-bottom: 50px;
        margin-right: 50px; } }
  .cursos-index .contenedor-cursos .flip-container:hover .card {
    transform: rotateY(180deg); }
  .cursos-index .contenedor-cursos .front, .cursos-index .contenedor-cursos .back {
    position: absolute;
    width: 150px;
    height: 80px;
    border-radius: 10px;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media (min-width: 768px) {
      .cursos-index .contenedor-cursos .front, .cursos-index .contenedor-cursos .back {
        width: 500px;
        height: 160px; } }
    @media (min-width: 1024px) {
      .cursos-index .contenedor-cursos .front, .cursos-index .contenedor-cursos .back {
        width: 350px;
        height: 150px;
        flex-direction: column;
        align-content: center;
        margin-left: 50px;
        margin-bottom: 50px;
        margin-right: 50px; } }
  .cursos-index .contenedor-cursos .back {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: #030027;
    transform: rotateY(180deg); }
    @media (min-width: 768px) {
      .cursos-index .contenedor-cursos .back {
        width: 500px;
        height: 160px; } }
    @media (min-width: 1024px) {
      .cursos-index .contenedor-cursos .back {
        width: 350px;
        height: 160px;
        margin-top: 70px; } }
  @media (min-width: 1024px) {
    .cursos-index .contenedor-cursos .front {
      margin-top: 50px; } }
  .cursos-index p {
    font-weight: bolder;
    color: #fff;
    font-size: 20px; }
    @media (min-width: 768px) {
      .cursos-index p {
        font-size: 30px; } }
  .cursos-index button {
    width: 90%;
    margin: 0 auto;
    background-color: transparent;
    border-color: #EFF0FB;
    color: #0B0E32;
    border-radius: 5px; }
    @media (min-width: 768px) {
      .cursos-index button {
        width: 50%;
        margin: 0 auto;
        padding: 5px; } }
    .cursos-index button:hover {
      background-color: #EFF0FB;
      color: #0B0E32; }
    .cursos-index button a {
      color: #EFF0FB; }
      .cursos-index button a:hover {
        color: #0B0E32; }

.profesores-index {
  width: 90%;
  margin: 0 auto; }
  .profesores-index h2 {
    text-align: center;
    text-decoration: underline 3px;
    margin-bottom: 3%;
    margin-top: 3%; }
  .profesores-index .contenedor-profesores {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center; }
    @media (min-width: 768px) {
      .profesores-index .contenedor-profesores {
        flex-direction: row; } }
    .profesores-index .contenedor-profesores div {
      margin-bottom: 10%;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .profesores-index .contenedor-profesores div img {
        display: flex;
        border-radius: 50%;
        width: 30%; }
        @media (min-width: 768px) {
          .profesores-index .contenedor-profesores div img {
            width: 25%; } }
      .profesores-index .contenedor-profesores div h3 {
        margin-top: 5%;
        text-align: center; }

.opiniones-index {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 5%;
  margin-top: 5%; }
  .opiniones-index h2 {
    text-align: center;
    text-decoration: 3px underline;
    margin-bottom: 3%; }
  .opiniones-index .container-card-opiniones {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center; }
    .opiniones-index .container-card-opiniones .card-opiniones {
      width: 70vw;
      height: 80vh;
      border-radius: 10px;
      background-color: #C38DBD;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-content: stretch;
      align-items: center;
      justify-content: space-evenly; }
      @media (min-width: 768px) {
        .opiniones-index .container-card-opiniones .card-opiniones {
          width: 60vw;
          height: 70vh; } }
      .opiniones-index .container-card-opiniones .card-opiniones img {
        display: flex;
        justify-content: center;
        border-radius: 50%;
        width: 30%; }
        @media (min-width: 768px) {
          .opiniones-index .container-card-opiniones .card-opiniones img {
            width: 20%; } }
      .opiniones-index .container-card-opiniones .card-opiniones h4 {
        margin-top: -5%; }
      .opiniones-index .container-card-opiniones .card-opiniones p {
        width: 85%;
        margin: 0 auto;
        font-style: italic;
        font-size: 20px;
        margin-top: -5%; }

.carousel-control-prev {
  margin-left: -15%; }

.carousel-control-prev-icon {
  margin-left: -10%;
  background-color: #0B0E32; }

.carousel-control-next {
  margin-right: -15%; }

.carousel-control-next-icon {
  margin-right: -10%;
  background-color: #0B0E32; }
