@import"generales";

.cursos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


    .box {
        background-color: $color3;
        border: $color2 2px dotted;
        color: #000;
        width: 500px;
        height: 350px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin: 50px;
        text-align: center;
        justify-content: center;
        box-shadow: 0px 3px 8px 3px rgba(181,179,181,1);
        border-radius: 5px;
    }

    .myButton {
        box-shadow: inset 0px 1px 3px 0px $color2;
        background: linear-gradient(to bottom, $color2 5%, $color5 100%);
        border-radius: 5px;
        display: inline-block;
        cursor: pointer;
        color: $color3;
        font-size: 15px;
        font-weight: bold;
        padding: 11px 23px;
        text-decoration: none;
        text-shadow: 0px -1px 0px $color5;
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;

        &:hover {
            box-shadow: inset 0px 1px 3px 0px $color4; 
            color: $color4;
        }

        &:active {
            position: relative;
            top: 1px;
        }
    }

    h2 {
        font-weight: bold;
    }

    p {
        font-size: 25px;
    }

  .h1box {
      padding: 50px;
      width: 100%;
      justify-content: center;
      text-align: center;
      margin-top: 50px;
  }

  


}

