@import "generales";
*{

    margin: 0%;
  }
header{
    position: relative;
    z-index:2 ;
}

.conteinerHTML{
  
    display: flex;
    flex-direction:column ;
    align-items: center;
    flex-wrap: wrap;
        .titulo{
            margin-top: 80px;
            text-align: center;
            font-size: 1.5em;
        }
        .clase{
            width: 70%;
            height: auto;
            margin: 50px 0px;
            text-align: center;
                h3{
                    font-size: 2em;
                    
                }
                p{
                    margin-bottom: 20px;
                    font-size: 1.5em;
                }
                .video{
                    position: relative;
                    padding-bottom: 56.25%;
                    height: 0;
                    overflow: hidden;
                    
                        iframe{
                            position: absolute;
                            top:0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: 10px;
                            border: none;
                        }
                }
        }
        .teorico{
            padding: 10px 20%;
            background-color: $color1;
            font-size: 1.3em;
            border-radius: 5px;
            margin: 20px ;
        }
        .formulario{
            display: flex;
            margin-top: 20px;
            text-align: center;
            font-size: 2em;
                .check{
                
                    z-index: 1;
                    margin: 30px 15px;
                    transform: scale(2);
                }
                .lecciones{
                    font-weight: bold;
                }    
            }
            .barradeprogreso{
                width: 70%;
                margin: 30px 0 20px;
                    h3{
                        font-size: 2em;
                        text-align: center;
                    }
                    .barra {
                        display: flex;
                        width: 100%;
                        height: 30px;
                        background-color: #c7c7c7;
                        padding: 20px 5px;
                        border-radius: 100px;
                        margin: 20px;
                        align-items: center;
                        
                    }
                    .progreso {
                        height: 30px;
                        border-radius: 100px;
                        width: 33.33%;
                        background-color: $color2;
                        
                    }
            }
        .autoevaluacion{
            font-size: 1.5em;
            text-align: center;
            margin: 50px;
                a{
                   margin: 10px;
                    color: $color5;
                    font-weight: bold;
                    text-decoration: underline;
                }
        }    
}

