@import "generales";

.main-index {
display: flex;

    .img-fondo-index{
    background-image: url(../imgs/img-index.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 70vh;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 1024px){
    background-position: center center;   
    height: 98vh;    
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 205px;
        margin-top: 50px;
        background-color: rgba(0, 0, 0, 0.6);
    @media (min-width: 1024px){
        margin-bottom: 0;
    }
    }

    .contenedor-texto {
        width: 90%;
        margin: 0 auto;
    }
    
    h1, h2 {
        position: relative;
        color: #fff;
        text-align: center;
        font-size: 25px;
        text-shadow: 3px -1px 9px rgba(80,80,80,1);
    }

    h1 {
        margin-bottom: 20%;
        @media (min-width: 500px){
            margin-bottom: 10%;
        }
        @media (min-width: 900px){
            font-size: 40px;
        }
    }

    h2 {
    @media (min-width: 900px){
        font-size: 35px;
    }
        span {
            font-weight: bolder;
            text-decoration: underline;
        }
    }
}
}

.seccion-items {
    width: 90%;
    margin: 0 auto;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @media(min-width:700px){
        width: 85%;
        margin: 0 auto;
        margin-top: 15%;
    }
    @media(min-width:900px){
        width: 90%;
        margin: 0 auto;
        margin-top: 10%;
        justify-content: space-between;
    }
   
    
        .container-primera-linea, .container-segunda-linea {
        @media(min-width:900px){
            display: flex;
            margin: 20px;
            padding: 5px;
            justify-content: space-between;    
            }  
        }

        .container-items {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 15%;
            @media(min-width:700px){
                flex-direction: row;
            }
            @media(min-width:900px){
                margin-bottom: 10%;
                margin-left: 5%;
            }
        }
                .circulo {
                    display: flex;
                    justify-content: center;
                    background-color: $color2;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    margin-bottom: 5%;

                        img {
                           width: 80%;
                           fill: $color3;
                           @media (min-width: 900px){

                           }
                        }
                }

                h3 {
                    font-size: 25px;
                    text-align: center;
                    @media(min-width:700px){
                        width: 60%;
                        margin: 0 auto;
                    }
                    @media(min-width:900px){
                        margin-left: 15px;
                        width: auto;
                    }
                }
        }


.cursos-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5%;
    h2 {
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
        margin-bottom: 15%;
        text-decoration: underline 3px;
        @media (min-width: 768px){
            margin-bottom: 10%;
        }
        @media (min-width: 1024px){
            margin-bottom: 0;
        }
    }

        .contenedor-cursos{
        @media (min-width: 768px){
            margin-bottom: -10%;
        }
        @media (min-width: 1024px){
        display: flex;
        flex-direction: row;
        margin-top: -5%;
        }

        .flip-container {
            display: flex;
            align-items: center;
            align-content: center;
            background-color: transparent;
            width: 150px;
            height: 50px;
            margin-bottom: 40%;
            perspective: 1000px; 
            @media (min-width: 768px){
                width: 500px;
                height: 60px;
                margin-bottom: 30%;
                margin-top: 20%;
            }
            @media (min-width: 1024px){
                width: 350px;
                height: 180px;
                flex-direction: column;
                align-content: center;
                margin-left: 50px;
                margin-bottom: 50px;
                margin-right: 50px;
            }
        }
            .card {
                transition: transform 1s;
                transform-style: preserve-3d;    
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $color1;
                width: 150px;
                height: 80px;
                border-radius: 10px;
                margin-bottom: 20%;
                @media (min-width: 768px){
                    width: 500px;
                    height: 160px;
                }
                @media (min-width: 1024px){
                    width: 350px;
                    height: 150px;
                    flex-direction: column;
                    align-content: center;
                    margin-left: 50px;
                    margin-bottom: 50px;
                    margin-right: 50px;
                }
          }
          .flip-container:hover .card {
            transform: rotateY(180deg);
          }
          .front, .back {
            position: absolute;
            width: 150px;
            height: 80px;
            border-radius: 10px;
            backface-visibility: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (min-width: 768px){
                width: 500px;
                height: 160px;
            }
            @media (min-width: 1024px){
                width: 350px;
                height: 150px;
                flex-direction: column;
                align-content: center;
                margin-left: 50px;
                margin-bottom: 50px;
                margin-right: 50px;
            }
          }
          .back {
            width: 200px;
            height: 100px;
            display: flex;
            flex-direction: column;
            background-color: $color5;
            transform: rotateY(180deg);
            @media (min-width: 768px){
                width: 500px;
                height: 160px;
            }
            @media (min-width:1024px){
                width: 350px;
                height: 160px;
                margin-top: 70px;
            }
          }
          .front{
              @media(min-width:1024px){
                  margin-top: 50px;
              }
          }
        }            
                p{
                    font-weight: bolder;
                    color: #fff;
                    font-size: 20px;
                    @media (min-width: 768px){
                        font-size: 30px;
                    }
                }

                button {
                    width: 90%;
                    margin: 0 auto;
                    background-color: transparent;
                    border-color: $color3;
                    color:$color2;
                    border-radius: 5px;
                    @media (min-width: 768px){
                    width: 50%;
                    margin: 0 auto;
                    padding: 5px;
                    } 
                    &:hover{
                        background-color: $color3;
                        color: $color2;
                    }
                        a{
                            color: $color3;
                            &:hover{
                                color: $color2;
                            }
                        }
                }
        }


.profesores-index {
width: 90%;
margin: 0 auto;    
    h2 {
        text-align: center;
        text-decoration: underline 3px;
        margin-bottom: 3%;
        margin-top: 3%;
    }

    .contenedor-profesores {
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        @media (min-width: 768px) {
            flex-direction: row;
        }
    
            div {
                margin-bottom: 10%;
                display: flex;
                flex-direction: column;
                align-items: center;
                @media (min-width: 768px) {
                }
                

                    img {
                        display: flex;
                        border-radius: 50%;
                        width: 30%;
                        @media (min-width: 768px) {
                        width: 25%;    
                        }
                    }

                    h3 {
                        margin-top: 5%;
                        text-align: center;
                    }
            }
    }
}

.opiniones-index{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;

        h2 {
            text-align: center;
            text-decoration: 3px underline;
            margin-bottom: 3%;
        }

        .container-card-opiniones{
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;

                .card-opiniones{
                    width: 70vw;
                    height: 80vh;
                    border-radius: 10px;
                    background-color: $color4;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    align-content: stretch;
                    align-items: center;
                    justify-content: space-evenly;
                    @media (min-width: 768px) {
                        width: 60vw;
                        height: 70vh;
                    }

                    img{
                        display: flex;
                        justify-content: center;
                        border-radius: 50%;
                        width: 30%;
                        @media (min-width: 768px) {
                            width: 20%;
                        }

                    }

                    h4 {
                        margin-top: -5%;
                    }

                    p{
                        width: 85%;
                        margin: 0 auto;
                        font-style: italic;
                        font-size: 20px;
                        margin-top: -5%;
                    }
                }
        }
}

.carousel-control-prev {
    margin-left: -15%;
}

.carousel-control-prev-icon {
    margin-left: -10%;
    background-color: $color2;
}

.carousel-control-next {
    margin-right: -15%;
}

.carousel-control-next-icon {
    margin-right: -10%;
    background-color: $color2;
}