@import "generales";




.main-login{
display: flex;
flex-direction: column;

    h1{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        }
        .formulario-login{
        margin: 100px 0px 60px 0px;
            @media (min-width:1024px){
                width: 70%;
            }
                .formulario{
                display: flex;
                flex-direction: column;
                padding: 3%;
                background-color: white;
                box-shadow: 0px 3px 8px 4px rgb(169, 168, 169);
                @media (min-width:768px){
                    align-items: center;
                }
                @media (min-width:1024px){
                    border-radius: 5px;
                    margin-right: 0;
                }
                /* caja del formulario */
                    input{
                        height: 30px;
                        margin: 2% ;
                        text-align: center;
                        border-radius: 10px;
                        border: none;
                        outline-color: $color2 ;
                        caret-color: $color2;
                        @media (min-width:768px){
                            width: 80%;
                            height: 50px;
                        }
                    }
                    .datos{
                        background-color: $color3;
                    }
                    .boton{
                        color: $color3;
                        background-color: $color2;
                    }
                 
                    .links{
                        width: auto;
                        padding: 2%;
                        display: flex;
                        justify-content: space-between;
                        @media (min-width:768px){
                            width: 80%;
                            padding: 0;
                        }
                            a{
                                text-decoration: none;
                                color: $color2;
                                &:hover{
                                    text-decoration: underline;
                                }    
                            }
                    
                }
                }
            
            }

}








@media (min-width:1024px){
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .boton:hover{
        cursor: pointer;
    }

}
