@import"generales";



    

    /* contiene todo mi main */
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #F2F2F2;
       

        /* contienedor main */
        .containerMain {
            display: flex;
          /*   flex-wrap: nowrap; */
            justify-content: center;
            width: 90%;
            height: 830px;
            margin: 80px 0px 30px 0px;


            /*etiqueta section que contine el form  */
            .form {
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 500px;
                height: 750px;
                padding: 10px;
                border: 1px solid #ecf0f3;
                border-radius: 6px;
                background-color: #FFFFFF;
                box-shadow: 0px 3px 8px 3px rgba(181,179,181,1);


                
                /* titulo de mi form */
                .title {
                    margin: 30px 0px 20px 0px;
                    font-weight: bold;
                    font-size: 30px;
                  
                }

                /* clase de los divs que contienen a los inputs */
                
                .caja {
                    display: flex;
                    flex-direction: column;
                    margin: 20px 0px;
                   

                    /* mis inputs */
                    .campo {
                        width: 230px;
                        height: 35px;
                        padding: 8px 16px;
                        background-color: #f9fafb;
                        border: none;
                        border-radius: 6px;
                        font-size: 15px;

                      
                    }
                   

                }
               
                .terminos{
                    display: flex;
                    font-size: 14px;
                   justify-content: center;

                   .textCond{
                       margin-left: 8px;
                   }
                }

                .btnRegistro{

                    width: 242px;
                    height: 40px;
                    margin:15px 0;
                    cursor: pointer;
                    border-radius: 5px;
                    border: none;
                    font-size: 15px;
                    background-color: $color2;
                    color: $color3;
                }

                p{
                    margin-top: 15px;
                    font-size: 14px;
                }

                .linkLoguin{
                    color: #000;
                    cursor: pointer;
                 
                }
                .linkLoguin:hover{
                    text-decoration: underline;
                }
                
            }

        }

    }

